* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.grey {
    color: #a3a3a3;
}
.lightgrey {
    color: #d2d2d2;
}
.white {
    color: white;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.flex {
    display: flex;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/* wrap di pagina  */
.huge_wrap {
    width: 100%;
    height: 100vh;
}

/* navbar sinistra  */
.container_aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    height: 100vh;
    width: 230px;
    padding: 10px 10px 90px 10px;
}
.container_aside a:hover {
    color: white;
}
#li_align:hover #add_btn {
    background-color: white;
}
.aside_logo {
    height: 60px;
}
/* logo spotify  */
#logo_spotify {
    height: 30px;
}

/* prima section di navbar left  */
.aside_section_home {
    margin-top: 10px;
}
.aside_section_home>a>img {
    height: 20px;
}
.aside_section_home>a>h3 {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 5px;
}
.aside_playlist h2 {
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 20px 0 5px;
}
#li_align {
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
}
#add_btn {
    display: inline-block;
    background-color: #a3a3a3;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    color: black;
    text-align: center; 
}

/* aside playlist  */
.aside_playlist {
    flex-grow: 1;
}
.aside_playlist h3 {
    display: inline-block;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.aside_playlist li {
    margin-bottom: 15px;
}
.aside_playlist li>a {
    color: #a3a3a3;
    font-weight: bold;
    font-size: 0.7em;
}
/* aside profile top  */
.aside_profile_top {
    font-weight: bold;
    font-size: 0.7em;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    
}
.aside_profile_top>a>img {
       width: 12px;
}
.aside_profile_top h3,
.aside_profile_top>a>img {
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}
/* aside profile bot  */
.aside_profile_bot img {
    display: inline-block;
    height: 30px;
    width: 30px;
    color: white;
    background-color: grey;
    border: 1px solid grey;
    border-radius: 50%;
}
.aside_profile_bot h3 {
    display: inline-block;
}
.aside_profile_bot h3,
.aside_profile_bot img {
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.aside_profile_bot img:hover {
    background-color: #1ED760;
}





/* contenitore della PARTE DESTRA  */
.container_main_right {
    padding-top: 65px;
    overflow: auto;
    background-color: #141922;
    height: calc(100vh - 60px);
    width: calc(100% - 230px);
}

/* header  */
header {
    background-color: rgba(0, 0, 0, 0.6);
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
    width: calc(100% - 230px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}
.button_nav_up {
    margin-right: 10px;
    align-self: center;
}
.button_nav_up:hover {
    transform: scale(1.2);
}
.button_nav_up>a {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
}



/* main */
/* navbar del main generi musicali */
.navbar_generi {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}
.navbar_generi a {
    padding: 0px 10px;
    font-size: 0.7em;
}
.navbar_generi a:hover {
    color: white;
}
.navbar_generi li {
    display: inline-block;
}

main h2 {
    font-size: 1em;
    margin: 40px 15px 10px;
}
.item_img_title {
    margin: 5px 10px 5px 5px;
    width: 15%;
}
.contenitore_img>img {
    width: 100%;
    height: 70%;
}
.contenitore_img {
    position: relative;
    
}

/* OVERLAY  */
.overlay_plus {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.overlay_plus i {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contenitore_img:hover .overlay_plus {
    display: block;
    cursor: pointer;
}

.item_img_title>h3 {
    font-size: 0.7em;
    color: white;
    margin: 5px 0;
}
h5.grey {
    font-size: 0.6em;
    margin: 5px 15px;
}


/* sezione 1/3 main - recent artist */
.container_section {
    display: flex;;
    text-align: center;
    flex-wrap: wrap;
    margin: 10px;
}

/* sezione 2/3 main - created for you  */


/* sezione 3/3 main - popular artist  */

footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #282828;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.footer_right,
.footer_left {
    display: flex;
    width: 230px;
}
/* specifico foot left  */
.footer_left {
    justify-content: flex-start;
    align-items: center;
}
.footer_left>a>img {
    height: 50px;
    padding: 0 10px;
}
.footer_left>a>i {
    color: white;
}
.text_footer_left>a>h6:hover {
    text-decoration: underline white;
}
.footer_left i {
    padding: 5px;
}
.text_footer_left {
    flex-grow: 1;
}
.icon_footer_left {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}
.icon_footer_left i:hover {
    color: white;
}
/* specifico foot center  */
.footer_center {
    /* background: orange; */
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_center_buttons {
    width: 150px;
    font-size: 60%;
}   
.footer_center_buttons>ul {
    list-style: none;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer_center a {
    width: 30px;
    text-align: center;
    color: white;
}

.footer_center .fa-play-circle:hover {
    transform: scale(1.5);
}
/* barra audio footer center  */
.container_audio_bar {
    width: 70%;
    margin: 0 auto;
}
.line_bar {
    float: left;
    height: 4px;
    border-radius: 5px;
}
.line_bar_left {
    display: flex;
    flex-direction: row-reverse;
    width: 25%;
    background-color: #c1c1c1;
}
.line_bar_right {
    width: 75%;
    background-color: #5a5a5a;
}
#bar_dot {
    visibility: hidden;
    align-self: center;
    border: 1px solid grey;
    background-color: white;
    border-radius: 50%;
    padding: 7px;
}
.line_bar_left:hover #bar_dot,
.container_audio_bar:hover #bar_dot{
    visibility: visible;
}
.line_bar_left:hover,
.container_audio_bar:hover {
    background-color: lightgreen;
}













/* MD */
@media screen and (min-width: 993px) {
    .item_img_title {
        margin: 5px 10px 5px 5px;
        width: 14%;
    }
    #logo_xs,
    #home_xs {
        display: none;
    }
}

/* SM  */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .item_img_title {
        margin: 5px 10px 5px 5px;
        width: 20%;
    }
    #logo_xs,
    #home_xs {
        display: none;
    }
}

/* XS  */
@media screen and (max-width: 767px) {
    .container_aside {
        width: 50px;
        justify-content: flex-start;
    }
    .last_home_grow {
        flex-grow: 1;
    }
    .aside_section_home a>img:hover {
        color: white;
        cursor: pointer;
        background-color: grey;
        border-radius: 50%;
        padding: 5px;
    }
    #logo_xs {
        width: 30px;
        height: 30px;
        display: block;
        color: white;
    }
    #logo_xs>img {
        width: 100%;
        height: 100%;
    }
    #logo_spotify,
    .aside_section_home>a>h3,
    .aside_playlist,
    .aside_profile_top span,
    .aside_profile_bot h3 {
        display: none;
    }
    .aside_profile_top>a>img {
        width: 100%;
        height: 100%;
    }
    .container_main_right {
        width: calc(100% - 50px);
    }
    header {
        width: calc(100% - 50px);
    }
    main h2 {
        font-size: 1em;
        margin: 40px 30px 10px;
    }
    h5.grey {
        font-size: 0.6em;
        margin: 5px 30px;
    }
    .item_img_title {
        margin: 5px 10px 5px 20px;
        width: 40%;
    }
    .footer_left {
        transform: scaleX(0.9);
    }
    .icon_footer_left {
        display: flex;
        flex-direction: column;
    }
    .icon_footer_left i {
        padding: 0;
    }
    .footer_right,
    .footer_left {
        width: 25%;
    }
}

@media screen and (max-width: 450px) {
    .footer_left {
        padding: 0;
        transform: scaleX(0.8);
    }
    .footer_right,
    .footer_left {
        width: 18%;
    }
    .footer_center_buttons {
        width: 90px;
        font-size: 50%;
    } 
}
    









/* unknown  */
.unknown {
    display: none;
    /* display: inline-block; */
    position: fixed;
    left: calc(100vw - 45px);
    top: 50%;
    animation: egg 10s ease-in infinite;
}
@keyframes egg {
    0% {
        opacity: 0;
      }
    70% {
        opacity: 0;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.egg>img {
    width: 100px;
}
.egg>img:active {
    display: none;
}
.egg>img:active ~.fumetto {
    display: block;
    background-color: white;
    width: 100px;
    height: 20px;
    right: 200px;
}
.fumetto {
    position: absolute;
    top: 0%;
    right: -40px;
    width: 50px;
    height: 20px;
}
.fumetto>h3 {
    color: white;
    position: absolute;
    right: 40px;
}