* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.grey {
    color: #a3a3a3;
}
.lightgrey {
    color: #d2d2d2;
}
a {
    text-decoration: none;
}
.flex {
    display: flex;
}

/* navbar sinistra  */
.container_navbar_left {
    background-color: black;
    height: 100vh;
    width: 250px;
    padding: 20px;
}
.navbar_logo {
    height: 60px;
}
#logo_spotify {
    height: 30px;
}
.section_nav_home {
    margin-top: 10px;
}
.section_nav_home>a>img {
    height: 20px;
}
.section_nav_home>a>h3 {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 5px;
}

/* contenitore della parte destra  */
.container_main_right {
    background-color: #141922;
    height: 100vh;
    width: 100%;
}

/* header  */
header {
    background-color: rgba(0, 0, 0, 0.6);
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
}
.button_nav_up {
    align-self: center;
}
.button_nav_up>a {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
}