* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.grey {
    color: #a3a3a3;
}
.white {
    color: white;
}
a {
    text-decoration: none;
}
/* header  */
header {
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: red;
    height: 60px;
    width: calc(100% - 230px);
    position: fixed;
    top: 0;
    left: 230px;
}
.upgrade_btn{
    position: absolute;
    right: 20px;
    line-height: 30px;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0px 30px;
    border: 1px solid white;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

/* navbar di sinistra  */
.navbar_colonna_left {
    position: fixed;
    background-color: blue;
    height: 100vh;
    width: 230px;
}

.contenitore_nav_logo,
.section_home {
    padding-left: 20px;
}
.contenitore_nav_logo {
    width: 100%;
    height: 60px;
    background-color: orange;
}
.contenitore_nav_logo img {
    width: 70%;
    line-height: 60px;
    height: 100%;
    padding: 5px 0;
    vertical-align: middle;
}
.section_home {
    margin-top: 10px;
}
.section_home>i {
    height: 30px;
    size: 3;
}
.section_home>h3 {
    display: inline-block;
    margin-left: 5px;
    font-size: 0.8em;
}

/* main  */
main {    
    position: relative;
    width: 100%;
    top: 60px;
    left: 230px;
    background-color: #141922;
    height: calc(100vh - 60px);
}
.navbar_riga_main {


}
